#pagination-wrapper {
  display: flex;
  gap: 20px;
}

.pagination-change-link-box {
  display: flex;
  align-items: center;
  gap: 4px;

  cursor: pointer;
}

.pagination-change-link-text {
  color: black;
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
}

.pagination-divider {
  color: darkgrey;
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;

  cursor: default;
}

.pagination-text-active {
  color: black;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;

  cursor: default;
}

.pagination-text {
  color: rgba(0, 0, 0, 0.5);

  font-size: 14px;
  font-weight: 800;
  line-height: 140%;

  cursor: pointer;
}
